<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.manager">

	<insert id="insert">
		INSERT INTO manager (manager_id, manager_pw,
		manager_name, manager_email, manager_phone, manager_code)
		VALUES
		(#{manager_id}, #{manager_pw}, #{manager_name}, #{manager_email},
		#{manager_phone}, #{manager_code})
	</insert>


	<select id="list" resultType="kr.co.domain.OrderVO">
		SELECT * FROM package
	</select>

	<select id="saleRank" resultType="Map">
		SELECT sum(order_quantity) as ORDERQUNTITY, item_no, 
		TO_CHAR(order_date,'MM') as ORDERDATE 
		FROM package GROUP BY item_no, TO_CHAR(order_date,'MM') 
		ORDER BY sum(order_quantity) DESC
	</select>

	<select id="daySale" resultType="Map">
		SELECT TO_CHAR(sum(order_price), 'FM999,999,999') as ORDERPRICE, 
		TO_CHAR(order_date, 'YYYY-MM-DD') as ORDERDATE FROM
		package group by TO_CHAR(order_date, 'YYYY-MM-DD') ORDER BY
		TO_CHAR(order_date, 'YYYY-MM-DD') ASC
	</select>

	<select id="likeRank" resultType="Map">
		SELECT count(item_no) as SUMITEMNO, item_no
		FROM likeitem GROUP BY item_no 
		ORDER BY count(item_no) DESC
	</select>

	<select id="getName" resultType="Map">
		SELECT item_name, item_no FROM item
	</select>

	<select id="keywordRank" resultType="Map">
		SELECT count(keyword) as COUNTKEYWORD, keyword FROM search
	GROUP BY keyword
		ORDER BY count(keyword) DESC
	</select>

	



</mapper>