<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.search">
	<insert id="search">
		INSERT INTO search (search_no, item_category, keyword) VALUES (seq_search_no.NEXTVAL, #{item_category}, #{keyword})
		<selectKey keyProperty="search_no" resultType="Integer" order="AFTER">
			SELECT seq_search_no.CURRVAL FROM dual
		</selectKey>
	</insert>

	<select id="rankinglist" resultType="kr.co.domain.SearchVO">
		SELECT ROW_NUMBER() OVER(ORDER BY COUNT(*) DESC) rank, keyword FROM search GROUP BY keyword ORDER BY  COUNT(*) DESC
	</select>
</mapper>